//Text color
$color-grey: #777777

//Main color
$color-brown-light:#BA8554
$color-brawn-darck:#A14F03

//black and white
$color-black:#000000
$color-white:#FAFAFA

//button shadow
$box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.3))
