
//Анимация которая поднимает кнопку на 5px наверх.
@keyframes BtnToUp
    0%
        opacity: 0
        transform: translateY(5rem)
    100%
        opacity: 1
        transform: translateY(0)

//Анимация которая двигает текст слева направо.
@keyframes lefttoright
    0%
        opacity: 0
        transform: translateX(-10rem)
    80%
        transform: translateX(1rem)
    100%
        opacity: 1
        transform: translateX(0)

//Анимация которая двигает текст справа на лево.
@keyframes righttoleft
    0%
        opacity: 0
        transform: translateX(10rem)
    80%
        transform: translateX(-1rem)
    100%
        opacity: 1
        transform: translateX(0)